body{
    background-color:black;
    margin: 0;
    padding: 0;
}

svg{
    fill:darkgray;
    stroke-width: 10;
    margin: auto; 
    display: block;
}

.cityCircle{
    stroke: black;
    fill: slategrey;
    stroke-width: 1;
}