body{
    background-color:black;
    margin: 0;
    padding: 0;
}

svg{
    fill:darkgray;
    stroke-width: 10;
    margin: auto; 
    display: block;
    padding-right: 20%;
}

.cityLocation{
    stroke: black;
    fill: white;
    stroke-width: 1;
    cursor: pointer;
}